.list__container
  margin-top: 5%
  width: 30%
  height: 400px
  margin-left: 50%
  transform: translateX(-50%)
  border: 1px solid #ccc
.list__wrapper
  margin: 20px
.list
  background: #fad
  margin: 20px
  padding: 20px
  color: #fff
  font-size: 1.25rem