.list__container
  margin-top: 5%
  width: 35%
  height: 100%
  margin-left: 50%
  transform: translateX(-50%)
.list__todo__wrapper
  &:before
    content: 'TODO'
    text-align: center
    font-size: 1rem
    letter-spacing: 0.5rem
    color: #aaa
    display: block
    height: 25px
.list__done__wrapper
  &:before
    margin-top: 2.5rem
    content: 'DONE'
    text-align: center
    font-size: 1rem
    letter-spacing: 0.5rem
    color: #aaa
    display: block
    height: 25px

.list
  height: 66px
  background: #efefef
  margin: 22px
  color: #787878
  border-radius: 5px
.list__contents
  text-indent: 1rem
  font-size: 1.2rem
  line-height: 72px
  width: 75%
  float: left
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis


.list__icon
  width: 25%
  float: right
  height: 66px
.complete__icon, .remove__icon
  float: left
  height: 66px
  width: 50%
  svg
    width: 2rem
    height: 2rem
    line-height: 66px
    fill: #aaaaaa
    display: block
    margin: auto
    margin-top: 16.5px
    .active
      fill: #25b99a
      cursor: pointer

.complete__icon svg
  &:hover
    fill: #25b99a
    cursor: pointer

.remove__icon svg
  &:hover
    fill: #D0021B
    cursor: pointer